.row {
    margin-left: 0;
}

.people div {
    margin-bottom: 20px;
}

.head {
    color: #fff;
    text-align: center;
    background-color: #304161;
}

.head-small {
    display: none;
}

.head td {
    background-color: #304161;
}

td p {
    text-align: center;
}

footer {
    font-size: 13px !important;
}

.widewrapper {
    font-size: medium;
}

.IG {
    margin-top: 40px;
}

.IG div {
    margin-bottom: 20px;
}

.people-row>p:first-child {
    padding-left: 0;
    font-size: large;
    font-weight: bold;
}

.people-row>p:not(:first-child) {
    padding-right: 15px;
    padding-left: 15px;
}

.IG-title {
    font-size: larger;
    font-weight: bold;
}

.IG li {
    list-style-image: url(../image/list.png);
    margin-bottom: 3px;
}

@media only screen and (max-width: 993px) {
    .row {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .head-small {
        display: block;
    }

    .head-large {
        display: none;
    }

    .row {
        margin: 0;
    }

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 16px;
    }

    .footer {
        color: #ffffff;
        background-color: #171f24;
    }
}
